body{
  background: black;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamNarrow-Black';
  src:
	url('../fonts/GothamNarrow-Black.otf')
	format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Book';
  src:
	url('../fonts/GothamNarrow-Book.otf')
	format('opentype');
}

@font-face {
  font-family: 'DeadKansas';
  src:
	url('../fonts/DeadKansas.ttf')
	format('truetype');
}

@font-face {
  font-family: 'Gotham-Medium';
  src:
	url('../fonts/Gotham-Medium.otf')
	format('opentype');
}

/* HEADER */
header{
  top: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
//  -webkit-filter: blur(2px); /* Safari */
//  filter: blur(2px);
  z-index: 1;
}

.logo img{
  height: 45px;
  padding-left: 10px;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: 'DeadKansas';
  font-weight: normal;
  font-size: 30px;
}

.menuItem a{
  margin: 0 30px;
  text-decoration: none;
  font-weight: normal;
  color: white;
}
.menuItem a:hover, .current a{
  color: #890202;
}

.leftBlock,.rightBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialMedia img{
  width: 40px;
  height: 40px;
  padding: 0 7px;
}

#thejoker{
  font-family: 'GothamNarrow-Black';
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
}
/* MAIN */
.container{
  margin-top: 90px;
}

.trailer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}


.s1 {
  background: url("../images/Todd.png");
  background-size: cover;
  background-position: center;
}

.s2 {
  background: url("../images/Joaquin.png");
  background-size: cover;
  background-position: center;
}
.s3 {
  background: url("../images/Robert.png");
  background-size: cover;
  background-position: center;
}
.s4 {
  background: url("../images/Zazie.png");
  background-size: cover;
  background-position: center;
}

.s1 h1 {
  color: #F4C51E;
  font-family: DeadKansas;
  font-weight: normal;
  font-size: 90px;
  margin-left: 5%;
}

.s3 h1 {
  color: #F4C51E;
  font-family: DeadKansas;
  font-weight: normal;
  font-size: 90px;
  margin-left: 5%;
  margin-top: 5%;
}

.s2 h1, .s4 h1 {
  color: #F4C51E;
  font-family: DeadKansas;
  font-weight: normal;
  font-size: 90px;
  margin-left: 70%;
}

.s1 h2, .s3 h2 {
  color: white;
  font-family: DeadKansas;
  font-weight: normal;
  font-size: 90px;
  margin-left: 70%;
  bottom: 10%;
}

.s2 h2, .s4 h2 {
  color: white;
  font-family: DeadKansas;
  font-weight: normal;
  font-size: 90px;
  margin-left: 5%;
}

h3 {
  color: white;
  font-family: DeadKansas;
  font-weight: normal;
  font-size: 40px;
  margin-left: 15%;
}

.s3 h3 {
  color: white;
  font-family: DeadKansas;
  font-weight: normal;
  font-size: 40px;
  margin-left: 65%;
  height: 5px;
  bottom: 20%;
}

.s1 p{
  font-family: 'Gotham-Medium';
  font-size: 17px;
  color: white;
  width: 30%;
  margin-left: 60%;
  margin-top: 10%;
  letter-spacing: 2.5px;
  text-align: justify;
}

.s2 p{
  font-family: 'Gotham-Medium';
  font-size: 17px;
  color: white;
  width: 30%;
  margin-left: 10%;
  margin-top: 10%;
  letter-spacing: 2.5px;
  text-align: justify;
}

.s3 p{
  font-family: 'Gotham-Medium';
  font-size: 17px;
  color: white;
  width: 30%;
  margin-left: 3%;
  letter-spacing: 2.5px;
  text-align: justify;
}

.s4 p{
  font-family: 'Gotham-Medium';
  font-size: 17px;
  color: white;
  width: 30%;
  margin-left: 23%;
  margin-top: 5%;
  letter-spacing: 2.5px;
  text-align: justify;
}

#more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 130px;
  font-family: 'DeadKansas';
  font-size: 70px;
  color: white;
}

#left {
  color: #F4C51E;
}

span {
  background: #F4C51E !important;
}
#fp-nav ul li .fp-tooltip {
  font-family: 'Gotham-Medium'!important;
}

/* FOOTER */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'GothamNarrow-Book';
  font-size: 8px;
  color:white;
  z-index:1;
}
.footerInformation{
  display: flex;
  flex-direction: row;
}
.footerInformation a{
  padding-left: 7px;
  text-decoration: none;
  color: white;
}

#jokerDC{
  padding-right: 20px;
}
