body{
  width: 99%;
  background-image: url("../images/hpbkg.jpg");
  background-color: #000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'GothamNarrow-Black';
}

@font-face {
  font-family: 'GothamNarrow-Black';
  src:
	url('../fonts/GothamNarrow-Black.otf')
	format('opentype');
}

@font-face {
  font-family: 'GothamNarrow-Book';
  src:
	url('../fonts/GothamNarrow-Book.otf')
	format('opentype');
}

@font-face {
  font-family: 'DeadKansas';
  src:
	url('../fonts/DeadKansas.ttf')
	format('truetype');
}

/* HEADER */
header{
  top: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
//  -webkit-filter: blur(2px); /* Safari */
//  filter: blur(2px);
  z-index: 1;
}

.logo img{
  height: 45px;
  padding-left: 10px;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: 'DeadKansas';
  font-weight: normal;
  font-size: 30px;
}

.menuItem a{
  margin: 0 30px;
  text-decoration: none;
  color: white;
}
.menuItem a:hover, .current a{
  color: #890202;
}

.leftBlock,.rightBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialMedia img{
  width: 40px;
  height: 40px;
  padding: 0 7px;
}

#thejoker{
  font-family: 'GothamNarrow-Black';
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
}

.trailer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

/* MAIN */
.container{
  margin-top: 10%;
}

.firstLine{
  margin-left: 3%;
}

.comment{
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment h2{
  margin-bottom: 0.313em;
}
.comment p{
  margin-top: 0;
  text-align: right;
}

.stars img{
  width: 1.331em;
  height: 1.331em;
}

.review1{
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}

.review2{
  margin-left: 55%;
  display: flex;
  flex-direction: column;
}

.review3{
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.review4{
  margin-left: 60%;
  display: flex;
  flex-direction: column;
}
.secondLine{
  display: flex;
  align-items: center;
}
.criticsContainer h2{
  margin-top: 0.750em;
  margin-bottom: 0;
}

.magazines{
  margin-left: 0.625em;
}

/* FOOTER */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'GothamNarrow-Book';
  font-size: 8px;
  color:white;
  z-index:1;
}
.footerInformation{
  display: flex;
  flex-direction: row;
}
.footerInformation a{
  padding-left: 7px;
  text-decoration: none;
  color: white;
}

#jokerDC{
  padding-right: 20px;
}
