body {
  margin: 0;
  background-color: black;
  padding: 0; }
  body #scene {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative; }
    body #scene .discovery {
      position: absolute;
      top: 5vw;
      width: 100%;
      z-index: 5;
      text-align: center;
      transition: none; }
      body #scene .discovery a {
        font-family: GothamNarrow-Black;
        text-decoration: none;
        font-size: calc(12px + 1vw);
        color: #F4C51E;
        padding: 15px 20px;
        background-color: #890202;
        border-radius: 5px; }
    body #scene #background {
      background-image: url("../images/backgroundLight.jpg");
      filter: brightness(1) drop-shadow(2px 4px 6px black);
      transition: all 6s;
      width: 100vw;
      height: 100vh;
      position: relative; }
    body #scene #firstImg {
      filter: drop-shadow(2px 4px 6px black); }
    body #scene ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0; }
      body #scene ul li {
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; }
        body #scene ul li img {
          transform: scale(1.5);
          opacity: 1;
          max-height: 100vh;
          transition: all 6s; }
  body #tuto {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 4; }
    body #tuto p {
      color: #F4C51E;
      font-family: GothamNarrow-Black;
      font-size: calc(16px + 8vw);
      margin: 0; }
  body #loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 5; }
  body #loader.hidden {
    transition: all 1s !important; }
  body .hidden {
    opacity: 0 !important;
    transition: all 4s; }

@keyframes rotateJoker {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  17% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg); }
  24% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  34% {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  51% {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  68% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg); }
  85% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg); } }
@font-face {
  font-family: 'GothamNarrow-Black';
  src: url("../fonts/GothamNarrow-Black.otf") format("opentype"); }

/*# sourceMappingURL=main.css.map */
